{% extends "store/base.html" %}
{% load account socialaccount %}

{% block title %}Account Management{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="col-12">
            <h1 class="h2">Your Account</h1>
        </div>
        <hr>
        <div class="row row-cols-1 row-cols row-cols-md-3 g-3">
            <div class="col">
                <a href="{% url "account_change_password" %}" class="text-reset text-decoration-none" role="button"
                    style="max-width: 540px;">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-2 position-relative">
                                <svg class="position-absolute top-50 start-50 translate-middle"
                                    xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                    class="bi bi-key" viewBox="0 0 16 16">
                                    <path
                                        d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z" />
                                    <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                                </svg>
                            </div>
                            <div class="col-10">
                                <div class="card-body ps-0 ps-md-1">
                                    <h1 class="h5">Change Password</h1>
                                    <p class="card-text small text-muted">Set up a new password</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% if user.has_usable_password == False %}
            <div class="col">
                <a href="{% url "account_set_password" %}" class="text-reset text-decoration-none" role="button"
                    style="max-width: 540px;">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-2 position-relative">
                                <svg class="position-absolute top-50 start-50 translate-middle"
                                    xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                    class="bi bi-shield-lock" viewBox="0 0 16 16">
                                    <path
                                        d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z" />
                                    <path
                                        d="M9.5 6.5a1.5 1.5 0 0 1-1 1.415l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99a1.5 1.5 0 1 1 2-1.415z" />
                                </svg>
                            </div>
                            <div class="col-10">
                                <div class="card-body ps-0 ps-md-1">
                                    <h1 class="h5">Set Up Password</h1>
                                    <p class="card-text small text-muted">
                                        Set up a password for social accounts
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
            <div class="col">
                <a href="{% url "account_email" %}" class="text-reset text-decoration-none" role="button"
                    style="max-width: 540px;">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-2 position-relative">
                                <svg class="position-absolute top-50 start-50 translate-middle"
                                    xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                    class="bi bi-envelope" viewBox="0 0 16 16">
                                    <path
                                        d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z" />
                                </svg>
                            </div>
                            <div class="col-10">
                                <div class="card-body ps-0 ps-md-1">
                                    <h1 class="h5">E-mail Addresses</h1>
                                    <p class="card-text small text-muted">Add, remove & verify email</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="{% url "socialaccount_connections" %}" class="text-reset text-decoration-none" role="button"
                    style="max-width: 540px;">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-2 position-relative">
                                <svg class="position-absolute top-50 start-50 translate-middle"
                                    xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                    class="bi bi-link-45deg" viewBox="0 0 16 16">
                                    <path
                                        d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z" />
                                    <path
                                        d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z" />
                                </svg>
                            </div>
                            <div class="col-10">
                                <div class="card-body ps-0 ps-md-1">
                                    <h1 class="h5">Connect Social Accounts</h1>
                                    <p class="card-text small text-muted">Add or Remove Social Accounts</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>

{% endblock %}