{% extends "store/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Set Password" %}{% endblock %}
{% block head %}
<style>
    .asteriskField {
        display: none;
    }
</style>
{% endblock %}

{% block content %}
<section class="section-conten padding-y" style="min-height:84vh">
<div class="card mx-auto" style="max-width: 425px; margin-top:100px;">
    <div class="card-body">
{% block allauth_extra %}
    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
{% endblock %}

    <h1>{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <div style="width:10px;height:15px;display:inline-block"></div>
  <div class="row justify-content-xs-center">
  <button class="btn btn-secondary" type="submit">{% trans "Set Password" %} &raquo;</button>
  </div>
    </form>
        </div>
</div>
</section>

{% endblock %}
