{% extends "store/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<section class="section-conten padding-y" style="min-height:84vh">
<div class="card mx-auto" style="max-width: 425px; margin-top:100px;">
    <div class="card-body">
{% block allauth_extra %}
    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
{% endblock %}
    <h1>{% trans "Password Reset" %}</h1>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>{% blocktrans %}We have sent you an e-mail. Please <a href="mailto:filessharing015@gmail.com">contact us</a> if you do not receive it within a few minutes.{% endblocktrans %}</p>
    </div>
</div>
</section>
{% endblock %}
